@model TodoViewModel;
@using Humanizer;

@{
    ViewData["Title"] = "Lista zadań do wykonania";
}

<div class="panel panel-default todo-panel">
    <div class="panel-heading">@ViewData["Title"]</div>
    <div class="panel-footer add-item-form">
        <form>
            <div id="add-item-error" class="text-danger"></div>
            <label for="add-item-title">Dodaj zadanie:</label>
            <input id="add-item-title">
            <label for="add-item-date">Data:</label>
            <input type="date" id="add-item-date">
            <button type="button" id="add-item-button">Add</button>
        </form>
    </div>
    <div class="panel-footer add-item-form">
        <form asp-controller="Todo" asp-action="Index" method="get">
            <p>
                Search: <input type="text" name="SearchString">
                <input type="submit" value="Filter" />
            </p>
        </form>
    </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>&#x2714;</td>
                    <td>Zadanie</td>
                    <td>Utworzono</td>
                    <td>Termin</td>
                </tr>
            </thead>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td><input type="checkbox" name="@item.Id" value="true" class="done-checkbox"></td>
                    <td style="    max-width: 120px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;">@item.Title</td>
                    <td>@item.MadeAt</td>
                    <td>@item.DueAt.Humanize()</td>
                    <td><a asp-area="" asp-controller="Todo" asp-route-id="@item.Id" asp-action="Details">Details</a></td>
                </tr>
            }
        </table>
    </div>